#!/usr/bin/env bash

TOOLCHAIN_ROOT="/opt"

# Root of dotfiles directory
export DOTFILES="$HOME/dotfiles"

# # user-specific installs
# export LOCAL="$HOME/.local"
# export LOCAL_BIN="$LOCAL/bin"
# export LOCAL_LIB="$LOCAL/lib"

# rust install
export CARGO_HOME="$TOOLCHAIN_ROOT/rust"
export CARGO_BIN="$CARGO_HOME/bin"
export RUSTUP_HOME="$CARGO_HOME"

# variation on ccache for both Rust and C
export RUSTC_WRAPPER="$CARGO_BIN/sccache"

# go install
export GOPATH="$TOOLCHAIN_ROOT/go"
export GOBIN="$GOPATH/bin"

# pyenv install
export PYTHON_ROOT="$TOOLCHAIN_ROOT/python"
export PYENV_ROOT="$PYTHON_ROOT/pyenv"
export PYENV_BIN="$PYENV_ROOT/bin"

# dotnet install
export DOTNET_ROOT="$TOOLCHAIN_ROOT/dotnet"
export DOTNET_TOOLS="$DOTNET_ROOT/tools"
