
.config/cef_user_data/
.config/chezmoi/
.config/Code/
.config/darktable/data.db
.config/darktable/data.db-pre-3.8.1
.config/darktable/library.db
.config/darktable/library.db-pre-3.8.1
.config/dconf/
.config/discord/
.config/enchant/
.config/font-manager/
.config/geary/
.config/gh/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/
.config/ibus/
.config/ibus-mozc-gnome-initial-setup-done
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/mozc/
.config/nautilus/
.config/openrazer/
.config/pavucontrol.ini
.config/pipupgrade/
.config/pop-shell/
.config/pop-system-updater/
.config/pulse/
.config/pypoetry/
.config/Slack/
.config/stacer/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.docker/buildx/
.docker/contexts/
.docker/.token_seed
.docker/.token_seed.lock
.local/bin/
.local/include/
.local/lib/
.local/LICENSE
.local/scons.1
.local/sconsign.1
.local/scons-time.1
.local/share/applications/
.local/share/CMakeTools/
.local/share/direnv/
.local/share/evolution/
.local/share/flatpak/
.local/share/folks/
.local/share/fonts/
.local/share/geary/
.local/share/gem/ruby/3.0.0/cache/diff-lcs-1.5.0.gem
.local/share/gem/ruby/3.0.0/cache/grit-2.5.0.gem
.local/share/gem/ruby/3.0.0/cache/mime-types-1.25.1.gem
.local/share/gem/ruby/3.0.0/cache/posix-spawn-0.3.15.gem
.local/share/gem/specs/index.rubygems.org%443/quick/Marshal.4.8/diff-lcs-1.5.0.gemspec
.local/share/gem/specs/index.rubygems.org%443/quick/Marshal.4.8/grit-2.5.0.gemspec
.local/share/gem/specs/index.rubygems.org%443/quick/Marshal.4.8/mime-types-1.25.1.gemspec
.local/share/gem/specs/index.rubygems.org%443/quick/Marshal.4.8/posix-spawn-0.3.15.gemspec
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/application_state
.local/share/gnome-shell/gnome-overrides-migrated
.local/share/gnome-shell/notifications
.local/share/gvfs-metadata/
.local/share/ibus-mozc-gnome-initial-setup.log
.local/share/icc/
.local/share/icons/
.local/share/keyrings/
.local/share/man/
.local/share/metainfo/
.local/share/mime/
.local/share/nautilus/
.local/share/NuGet/
.local/share/openrazer/
.local/share/pixmaps/
.local/share/polkit-1/
.local/share/recently-used.xbel
.local/share/session_migration-pop
.local/share/Trash/files/.envrc
.local/share/Trash/info/.envrc.trashinfo
.local/share/virtualenv/
.local/share/vulkan/
.local/share/webkitgtk/
.local/share/xorg/
.local/state/
manifests/
